@model SchoolManager.Models.Faculty


<table class="table table-striped">
 
        <tr>
            <th>Ghi chú</th>
            <td>@Model.Node</td>
        </tr>
        <tr>
            <th> Ngày tạo </th>
            <td>@Model.CreateDate</td>
        </tr>
        <tr>
            <th> Người tạo </th>
            <td>@Model.CreateBy</td>
        </tr>
        <tr>
            <th> Ngày cập nhập </th>
            <td>@Model.UpdateDate</td>
        </tr>
        <tr>
            <th>Người cập nhập</th>
            <td>@Model.UpdateBy</td>
        </tr>
        <tr>
            <th> Trạng thái</th>
            @if (Model.Status == 0)
            {
                <td> Đang hoạt động</td>
            }
            else
            {
                <td> Ngừng hoạt động</td>
            }
        </tr>
</table>


