@model IEnumerable <SchoolManager.Models.Building>
<div class="data-body">
    <table class="table">
        <thead class="bg-gradient-light">
            <tr>
                <th> Tên tòa nhà  </th>
                <th> Ghi chú </th>
                <th> Trạng thái </th>
                <th class="d-flex justify-content-center"> Tác vụ </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Name </td>
                    <td> @item.Node</td>
                    @if (item.Status == 0)
                    {
                        <td> Đang hoạt động</td>
                    }
                    else
                    {
                        <td> Ngừng hoạt động</td>
                    }
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-edit p-0" data-toggle="modal" data-target="#modalAdd" type="button" onclick="EditClick(@item.ID , '/Building/FormCreateEdit' , 'add-or-edit')"> <i class="far fa-edit text-success"></i> </button>
                        <button class="btn btn-delete p-0" onclick="Delete(@item.ID , '/Building/Delete', '/Building/ListBuilding' , 'get-data')"> <i class="far fa-trash-alt text-danger"></i> </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination">
    @for (int i = 1; i <= ViewBag.pageCount; i++)
    {
        if (i == ViewBag.pageNumber)
        {
            <button data-page="@i" class="active">  @i  </button>

        }
        else
        {
            <button data-page="@i" onclick="Pagination( @i ,  '/Building/ListBuilding' , 'get-data')">  @i  </button>
        }
    }
</div>
