

    <form action="/" method="post" id="formAddOrEdit">
        @if (ViewBag.data == null)
        {
            <input type="number" name="id" value="0" class="form-control hidden" readonly hidden />
            <div class="row m-0">
                <div class="col-md-3">
                    <label>Tên CSVC</label>
                    <input type="text" value="" name="name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Ghi chú</label>
                    <input type="text" value="" name="node" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Số lượng</label>
                    <input type="number" value="" name="amount" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>số lượng hỏng</label>
                    <input type="number" value="" name="broken" class="form-control" />
                    <div class="error"></div>

                </div>
                <div class="col-md-3">
                    <label>Thuộc về</label><br />
                    <select id="BuildorRoom" value="BuildorRoom" name="BuildorRoom" class="form-control">
                        <option value="1" selected>Toà nhà</option>
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Tên CSVC</label>
                    <select name="IDBuildorRoom" class="form-control">
                        @foreach (var item in ViewBag.listbuild as IEnumerable<SchoolManager.Models.Building>)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Trạng thái</label>
                    <select class="form-control status" value="0" name="status">
                        <option value="0"> Đang hoạt động </option>
                        <option value="1"> Ngừng  hoạt động </option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>

        }
        else
        {
            <input type="number" name="id" value="@ViewBag.data.ID" class="form-control hidden" readonly hidden />
            <div class="row m-0">
                <div class="col-md-3">
                    <label>Tên tòa nhà</label>
                    <input type="text" value="@ViewBag.data.Name" name="name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Ghi chú</label>
                    <input type="text" value="@ViewBag.data.Node" name="node" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Số lượng</label>
                    <input type="number" value="@ViewBag.data.Amount" name="amount" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>số lượng hỏng</label>
                    <input type="number" value="@ViewBag.data.Broken" name="broken" class="form-control" />
                    <div class="error"></div>

                </div>
                <div class="col-md-3">
                    <label>Thuộc về</label>
                    <select class="form-control BuildorRoom" value="0" name="BuildorRoom">
                        <option value="1" selected>Tòa nhà</option>
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Tên tòa nhà</label>
                    <select name="IDBuildorRoom" class="form-control">
                        @foreach (var item in ViewBag.listbuild as IEnumerable<SchoolManager.Models.Building>)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Trạng thái</label>
                    <select class="form-control status" value="0" name="status">
                        @if (@ViewBag.data.Status == 0)
                        {
                            <option value="0" selected> Đang hoạt động </option>
                            <option value="1"> Ngừng  hoạt động </option>
                        }
                        else
                        {
                            <option value="0"> Đang hoạt động </option>
                            <option value="1" selected> Ngừng  hoạt động </option>
                        }

                    </select>
                    <div class="error"></div>
                </div>

            </div>
                }

        </form>




