@model SchoolManager.ViewModels.ViewModelLecturer
@{ 

}
<table class="table">
    <tr>
        <th>Họ và tên: </th>
        <td>@Model.name</td>
    </tr>
    <tr>
        <th>Giới tính: </th>
        @if (Model.Gender == true)
        {
            <td>Nam</td>
        }
        else
        {
            <td>Nữ</td>
        }
    </tr>
    <tr>
        <th>Ngày sinh: </th>
        <td>@Model.Birthday</td>
    </tr>
    <tr>
        <th>Địa chỉ: </th>
        <td>@Model.address</td>
    </tr>
    <tr>
        <th>Số điện thoại: </th>
        <td>@Model.phone</td>
    </tr>
    <tr>
        <th>Email: </th>
        <td>@Model.email</td>
    </tr>
    <tr>
        <th>Ghi chú: </th>
        <td>@Model.node</td>
    </tr>
    <tr>
        <th>Thuộc khoa: </th>
        <td>@Model.namefaculty</td>
    </tr>
    <tr>
        <th>Ngày tạo: </th>
        <td>@Model.CreateDate</td>
    </tr>
    <tr>
        <th>Ngày cập nhật: </th>
        <td>@Model.UpdateDate</td>
    </tr>
    <tr>
        <th>Tạo bởi: </th>
        <td>@Model.CreateBy</td>
    </tr>
    <tr>
        <th>Cập nhật bởi: </th>
        <td>@Model.UpdateBy</td>
    </tr>
    <tr>
        <th>Trạng thái: </th>
    </tr>
</table>