@model IEnumerable<SchoolManager.ViewModels.ViewModelLecturer>

@{
    ViewBag.Title = "ListLecture";
}
@if (Model.Count() > 0)
{
    <div class="list-data">
        <div class="row data-item">
            <div class="col-md-2 d-flex justify-content-start">
                <p class="data-title"> Họ và tên </p>
            </div>
            <div class="col-md-1 d-flex justify-content-start">
                <p class="data-title"> Giới tính </p>
            </div>
            <div class="col-md-3 d-flex justify-content-start">
                <p class="data-title"> Tên khoa </p>
            </div>
            <div class="col-md-3 d-flex justify-content-start">
                <p class="data-title"> Email </p>
            </div>
            <div class="col-md-2 d-flex justify-content-start">
                <p class="data-title"> Số điện thoại </p>
            </div>
            <div class="col-md-1 d-flex justify-content-end">
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row data-item">
                <div class="col-md-2 d-flex justify-content-start">
                    <p>  @item.name</p>
                </div>
                <div class="col-md-1 d-flex justify-content-start">
                    @if (item.Gender == true)
                    {
                        <p> Nam </p>
                    }
                    else
                    {
                        <p> Nữ</p>
                    }
                </div>
                <div class="col-md-3 d-flex justify-content-start">
                    <p> @item.namefaculty </p>
                </div>
                <div class="col-md-3 d-flex justify-content-start">
                    <p> @item.email </p>
                </div>
                <div class="col-md-2 d-flex justify-content-start">
                    <p> @item.phone </p>
                </div>
                <div class="col-md-1 d-flex justify-content-end">
                    <button class="btn btn-fix" data-id="@item.ID" data-name="@item.name" data-gender="@item.Gender" data-birthday="@item.Birthday.Value.ToString("yyyy-MM-dd")" data-address="@item.address" data-phone="@item.phone" data-email="@item.email" data-facultyid="@item.facultyID" data-node="@item.node" title="Sửa đổi thông tin sinh viên"><i class="fas fa-edit text-success"></i></button>
                    <button class="btn btn-delete" data-id="@item.ID" title="Xóa sinh viên"><i class="fas fa-trash-alt text-danger"></i></button>
                    <button class="btn btn-details" data-id="@item.ID" data-toggle="modal" data-target="#myModal">  
                        <i class="fas fa-info-circle text-primary"></i>
                    </button>
                </div>
            </div>
        }
        <div class="modal fade" role="dialog" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header bg-gradient-yellow">
                            <h4 class="modal-title text-white">Thông Tin Chi Tiết</h4>
                            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        <div class="pagination">
            @for (int i = 1; i <= ViewBag.pageCount; i++)
            {
                if (i == ViewBag.pageNumber)
                {
                    <button class="active" data-page="@i">@i</button>
                }
                else
                {
                    <button data-page="@i">@i</button>
                }
            }
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <h2> Không có giảng viên nào được thêm</h2>
    </div>
}


