@model IEnumerable<SchoolManager.ViewModels.ClassJoin>
<div class="data-body">
    <table class="table">
        <thead class="bg-gradient-light">
            <tr>
                <th> Tên lớp học  </th>
                <th> Tên môn học </th>
                <th> Tên giảng viên </th>
                <th>Trạng thái</th>
                <th class="d-flex justify-content-center"> Tác vụ </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Name </td>
                    <td> @item.SubjectName</td>
                    <td>@item.LecturerName</td>
                    @if (item.Status == 0)
                    {
                        <td> Đang nghỉ</td>
                    }
                    else
                    {
                        <td> Đang học</td>
                    }
                <td class="d-flex justify-content-end">
                    <button class="btn btn-edit p-0" data-toggle="modal" data-target="#modalAdd" type="button" onclick="EditClick(@item.ID , '/Class/FormCreateEdit' , 'add-or-edit')"> <i class="far fa-edit text-success"></i> </button>
                    <button class="btn btn-info p-0" data-toggle="modal" data-target="#myModal111" type="button" onclick="GetByID(@item.ID,'/Class/InfoDetail','InfoDetail-Modal')"><i class="fas fa-info-circle text-primary"></i> </button>
                    <button class="btn btn-delete p-0" onclick="Delete(@item.ID , '/Class/Delete', '/Class/ListClass' , 'get-data')"> <i class="far fa-trash-alt text-danger"></i> </button>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal111" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gradient-yellow">
                <h4 class="modal-title"> Thông tin chi tiết</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="InfoDetail-Modal">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="pagination">
    @for (int i = 1; i <= ViewBag.pageCount; i++)
    {
        if (i == ViewBag.pageNumber)
        {
            <button data-page="@i" class="active">  @i  </button>

        }
        else
        {
            <button data-page="@i" onclick="Pagination( @i ,  '/Class/ListClass' , 'get-data')">  @i  </button>
        }
    }
</div>






